/* С‚РµРєСЃС‚ РєРѕР»С–СЂ #757575
#212121 РѕСЃРЅРѕРІРЅРёР№ РєРѕР»С–СЂ
#000000 Р»РѕРіРѕ 
РєРѕР»С–СЂ РІРёРґС–Р»РµРЅРЅСЏ #2196F3
#FFFFFF Р±С–Р»РёР№
С„РѕРЅ РѕСЃРЅРѕРІРЅРёР№ #F5F5F5
С„РѕРЅ РґРѕРґР°С‚РєРѕРІРёР№ #F5F4FA;
С„РѕРЅ #2F303A;
С„РѕРЅ С…РѕРІРµСЂ РєРЅРѕРїРєР° #188ce8
С†РІРµС‚ С‚РµРєСЃС‚Р° С„СѓС‚РµСЂ rgba(255, 255, 255, 0.6);
 */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #ffffff;
    --acceny-color: #2196f3;
    --text-color: #f5f5f5;
    --footer-bg-color: #2f303a;
    --second-bg-color: #f5f4fa;
    --header-bg-color: #ffffff;
    --button-hover-color: #188ce8;
    --footer-address-rgba: rgba(255, 255, 255, 0.6);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--header-bg-color);
    color: var(--title-text-color);
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* background */
header {
    background-color: var(--header-bg-color);
}

section.hero {
    background-color: var(--footer-bg-color);
}

section.specifics {
    background-color: var(--header-bg-color);
}

section.works {
    background-color: var(--header-bg-color);
    padding-bottom: 94px;
}

section.team {
    background-color: var(--second-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

footer {
    background-color: var(--footer-bg-color);
}

/* link */
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--acceny-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--acceny-color);
}

/* РґРѕРµР±РµС‚СЃСЏ */
.contact-footer a {
    color: var(--footer-address-rgba);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}

.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--acceny-color);
}

/* color text */

.hero-title {
    color: var(--second-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40;
    padding-top: 200px;
    padding-left: 237px;
    padding-right: 237px;
    padding-bottom: 40px;
    background-color: var(--footer-bg-color);
}
.hero {
    text-align: center;
}

.hero button {
    display: inline-block;
    color: var(--second-text-color);
    background-color: var(--acceny-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    margin-bottom: 200px;
}


button:hover,
button:focus {
    background-color: var(--button-hover-color);
}

.visually-hidden {
    display: inline-block;
    position: absolute;
    width: 103px;
    height: 38px;
    margin: -1px;
    border: 1px solid transparent;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    margin-bottom: 0px;
}

.specifics {
    margin-top: 0px;
    margin-bottom: 0px;
}

.specifics-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-top: 94px;
}

.specifics-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 94px;

}

.works-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.person {
    background-color: var(--second-text-color);
}

.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.job-title {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* С€СЂРёС„С‚ */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    font-style: normal;
}

.logo {
    color: var(--acceny-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.studio {
    color: var(--second-text-color);
}

.nav-studio {
    color: var(--title-text-color);
}

a.map {
    color: var(--second-text-color);
}

/* СЃС‚СЂР°РЅРёС†Р° РїРѕСЂС‚С„РѕР»РёРѕ */

.btn {
    background-color: var(--second-bg-color);
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 00.03em;
    line-height: 1.62px;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
}

.filters .btn:hover,
.filters .btn:focus {
    background-color: var(--acceny-color);
    color: var(--second-text-color);
    cursor: pointer;
}

/* СѓРґР°Р»РёР» С„РѕРЅС‚ С„РµРјРёР»Рё */
.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* СѓРґР°Р»РёР»Р» С„РѕРЅС‚ С„РµРјРёР»Рё*/
.example-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* С€СЂРёС„С‚ */

/* СѓР±СЂР°Р» РєСѓСЂСЃРёРІ */
address {
    font-style: normal;
}

.logo {
    color: var(--acceny-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--second-text-color);
}

.nav-studio {
    color: var(--title-text-color);
}

/* СѓРґР°Р»РёР» С„РѕРЅС‚ С„РµРјРёР»Рё */
a.map {
    color: var(--second-text-color);
}

/* СЃС‚СЂР°РЅРёС†Р° РїРѕСЂС‚С„РѕР»РёРѕ */

.filters button {
    background-color: var(--second-bg-color);

    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 26px;
}

.filters button:hover,
.filters button:focus {
    background-color: var(--acceny-color);
    color: var(--second-text-color);
    cursor: pointer;
}
.nav-link.current {
    color: var(--acceny-color);
}
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
.container {
    width: 1200;
}